[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pytest = "*"
streamlit = "*"
opencv-python = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
video-effects = {file = ".", editable = true}
pandas = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test-configs = "pytest test/manual -p no:logging -v"
try-prototype = "streamlit run examples/videoApp.py"
effects-demo = "python examples/videoEffectsDemo.py"
